/**{
    margin-left:50px;
}*/

body{
    border:2px blue solid;
    max-width: 80%;
    margin: 0px auto;
    background-image: url(imagens/fundo.png);
    padding-top:20px;
}

.flex-container{
    float:right;
    padding-top:20px;
}

p{
    text-align: justify;
}

#img-capa{
    margin: auto;
    padding-top: 20px;
    max-width: 800px;
}