/* Configuração de tags */
footer{
    text-align: center;
}

p{
    text-align: justify;
}
/* Configuração de classes */
.flex-container{
    float:right;
    padding-top:20px;
}
/* Configurações a partir de IDs */
#img-capa{
    margin: auto;
    padding-top: 20px;
    max-width: 800px;
}

#img-fundo2{
    max-width: 80%;
    margin: 0px auto;
    background-image: url(imagens/fundo2.png);
    padding-top:20px;
}

#img-fundoHome{
    max-width: 80%;
    margin: 0px auto;
    background-image: url(imagens/fundo.png);
    padding-top:20px;
}